[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = "*"
googleapis-common-protos = "*"
azure = "*"
azure-storage = "*"
pipenv = "*"
urllib3 = "*"
readerwriterlock = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
